*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    font-family: "Rubik", sans-serif;
}
body {
    display: grid;
    justify-content: center;
    align-items: baseline;
    width: fit fit-content;
    height: 100vh;
    background-color: #f5f6fa;
}
.app {
    display: grid;
    gap: 1em;
    position: absolute;
left: 50%;
transform: translateX(-50%);

}
.inputBox {
    display: grid;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    
}
.comentInput {
    outline: none;
    border: solid;
    border-color: #cdcdcd;
    border-width: thin;
    border-radius: 5px;
    height: 6rem;
    width: 80vw;
    padding: 1rem;
    max-width: 35em;
}
.secondRaw {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}
.user {
    width: 2em;
    height: 2em;
}
.send {
    background-color: #595dbe;
    border-style: none;
    border-radius: 10px;
    width: 4rem;
    color: white;
    height: 3rem;
    width: 7rem;
    font-size: 1.2em;
    font-weight: 500;
}
.send:hover {
    filter: drop-shadow(0px 2px 3px black);
}
.comments {
    display: grid;
    gap: .5em;
}
.currentInput
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
    color: white;
    border-style: none;
    outline: none;
    width: 16em;
    height: 6em;
    border-radius: 5px;
    padding: 1em;

}