.CommentBox {
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}
.firstColumn {
    display: grid;
    grid-template-columns: 15% 29% 1fr 1fr;
    align-items: center;
}
.thumnail {
    width: 2rem;
}
.name {
    font-weight: 500;
}
.you {
    width: 2.5rem;
    background-color: #595dc1;
    text-align: center;
    border-radius: 2px;
    color: white;
    font-size: 0.9em;
    padding: 1px;
}
.time {
    color: #7b8086;
    width: max-content;
    justify-self: flex-start;
}
.comment {
    color: #7b8086;
    margin-top: 1em;
    margin-bottom: 1em;
}
.thirdColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonsAndLikes {
    background-color: #f5f6fa;
    border-radius: 10px;
    display: flex;
    height: 2.5rem;
}
.plus {
    background-color: transparent;
    border-style: none;
    width: 2.5rem;
}
.numerLikes {
    color: #595a92;
    font-weight: 500;
    width: 1rem;
    align-self: center;
    text-align: center;
}
.minus {
    background-color: transparent;
    border-style: none;
    width: 2.5rem;
}
.minus > svg {
    vertical-align: middle;
    margin-bottom: 1px;
}
.delete {
    font-family: inherit;
    color: #c36c75;
    font-weight: 500;
    background-color: transparent;
    border-style: none;
    font-size: 1em;
}
.edit {
    font-family: inherit;
    color: #5357b6;
    font-weight: 500;
    background-color: transparent;
    border-style: none;
    font-size: 1em;
}
